html, body {
    margin: 0;
    padding: 2rem;
    background-color: #ffe9ce;
    font-family: 'Tahoma', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
}

.title { /* width of Welcome to Hangman: around 34.4rem */
    font-weight: 800;
    font-size: 3rem;
    padding: 2rem;
    background-color: #ffbe86;
    text-align: center;
    border-radius: 2rem;
}

body > * {
    max-width: 40rem;
}

.instructions {
    background-color: #2d9099;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.heading {
    font-weight: 800;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.options {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.options > * > * > button {
    width: 12rem;
    font-size: 1rem;
    font-family: inherit;
    padding: 2rem 1rem;
    font-weight: 800;
    color: inherit;
    border: none;
    border-radius: 1rem;
    background-color: #c3719d;
}

a {
    color: inherit;
}

.category {
    background-color: #2d9099;
    padding: 1rem;
    border-radius: 1.5rem;
    text-align: center;
    font-weight: 800;
    margin-top: -1rem;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.display > img {
    height: 15rem;
    border-radius: 1rem;
}

.word {
    display: flex;
    gap: 0.3rem;
    flex-wrap: nowrap;
}

.char {
    width: 3rem;
    height: 3rem;
    background-color: #b0888a;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 1rem;
}

.letters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.letters > button {
    background-color: #c3719d;
    border: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 800;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.word-contain {
    position: relative;
}

.loser, .winner {
    margin-top: 0.7rem;
    position: absolute;
}
