<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman | Home</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="title">Welcome to Hangman!</div>
    <div class="instructions">
        <div class="heading">Instructions:</div>
        <div class="text">You need to guess the hidden word before you end up hanging the Hangman! Guess letters in the word one by one - if you guess correctly, instances of that letter in the word will reveal themselves. If you guess incorrectly, the man will be one step closer to being hung... You have a maximum of 6 incorrect guesses!</div>
    </div>
    <div class="options">
        <div><a href=play/noun><button>Guess a noun!</button></a></div>
        <div><a href=play/adjective><button>Guess an adjective!</button></a></div>
        <div><a href=play/verb><button>Guess a verb!</button></a></div>
        <div><a href=play/random><button>Guess any word!</button></a></div>
    </div>
</body>
</html>