<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman | Play</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type="text/javascript">
        const word = '{{ data.word }}';
        const category = '{{ data.category }}';
    </script>
    <script src="{{url_for('static', filename='app.js')}}" defer></script>
</head>
<body>
    <div class="title">Play Hangman!</div>
    <div class="category"></div>
</body>
</html>