<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman | Win</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='result.css')}}">
</head>
<body>
    <div class="title">☺ You Win! ☺</div>
    <div class="container">
        <img src="https://media1.giphy.com/media/OfXKySrn0Ej4s/200.gif" alt="spongebob making a rainbow">
        <div class="desc">
            <div class="heading">The Word Was:</div>
            <div class="text" style="font-size: 3rem">Word</div>
        </div>
    </div>
    <div><a href=home><button>Play again!</button></a></div>
    
    <!---Find a way to get the word on this page-->
</body>
</html>